.cell {
  max-width: 960px;
  color: white;
  background: lightgray;
  border: 1px solid darkgray;
  float: left;
  text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.container {
  width: 960px;
  margin: 0 auto;
  margin-left: calc((100% - 960px) /2);
}

@media(min-width: 480px) and (max-width: 767px) {
  .cell {
    width: 480px;
    float: left;
    background: lightgray;
  }
  
  .container {
    width: 480px;
    margin: 0 auto;
    margin-left: calc((100% - 480px) /2);
}
}